@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Nunito:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto+Condensed:wght@300;400&family=Roboto+Mono:wght@200;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* App.css */

.custom-image-container {
    position: relative; 
  }
  
  .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px; 
  }
  .mainTopic{
    text-align: center;
    font-family: 'Roboto';
    background-color: rgb(0, 0, 0);
    font-size: 28px;
    color: white;
  }
  
  .form-container label {
    color: white;
  }
  
  .form-container input {
    color: black;
  }
  .custom-image{
    height: 200px;
    width: 1363px;
  }
  .insert-city {
    width: 400px; 
    height: 38px; 
    border-radius: 10px;
  }
  .card {
    padding-top: 5px;
    width: 18rem;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    border-width: 3px;
    border-color: black;
  }
  .weatherImage{
    height: 150px;
    width: 150px;
  }
.col{
    font-family: 'Roboto Condensed';
    font-size: 20px;
}
.table{
    font-family: 'Roboto Condensed';
    text-align: center;
    margin-top: 20px;
}
.table {
    border: 2px solid #000000; 
    border-collapse: collapse; 
    border-radius: 5px;
  }
  
  .table th, .table td {
    padding: 12px; 
  }
  
  .table thead th {
    background-color: #afa3a3; 
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #cfa9a9;
  }
.container{
    font-family: 'Roboto Condensed';
    font-size: 20px;
}